@import url("https://fonts.googleapis.com/css?family=Rubik|Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css?family=Secular+One|Varela+Round&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

a:active, a:link, a:visited, a:focus {
  color: inherit;
  text-decoration: none; }

ul {
  list-style-type: none; }

@keyframes headingPrimaryMainSlideFromLeft {
  0% {
    transform: translateX(-23%);
    opacity: 0; }
  80% {
    transform: translateX(3%); }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes headingPrimarySubSlideFromRight {
  0% {
    transform: translateX(23%);
    opacity: 0; }
  80% {
    transform: translateX(-3%); }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes slideDown {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }

@keyframes slide-left {
  0% {
    transform: translateX(20%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.section__heading {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding: 0 3rem;
  font-family: 'Varela Round', sans-serif;
  font-size: 4.5rem;
  font-weight: 100; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.standard-section, .section-about, .section-grid-products {
  display: grid;
  width: 75%;
  margin: 0 auto;
  padding: 10rem 0; }

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-auto-rows: 5rem;
  grid-gap: 1rem;
  grid-auto-flow: dense; }
  .product-grid__item {
    grid-column: span 3;
    grid-row: span 3; }
    .product-grid__item--1 {
      grid-column: span 2;
      grid-row: span 5; }
    .product-grid__item--2 {
      grid-column: span 4;
      grid-row: span 2; }
    .product-grid__item--4 {
      grid-column: span 2;
      grid-row: span 5; }
    .product-grid__item--5 {
      grid-column: span 3;
      grid-row: span 3; }
    .product-grid__item--6 {
      grid-column: span 3;
      grid-row: span 8; }
    .product-grid__item--7 {
      grid-column: span 6;
      grid-row: span 8; }
    .product-grid__item--6 {
      grid-column: span 5;
      grid-row: span 3; }
    .product-grid__item--6 {
      grid-column: span 4;
      grid-row: span 4; }
    .product-grid__item img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.header {
  display: flex;
  height: 10rem;
  font-family: 'Varela Round', sans-serif; }
  .header__item {
    display: flex;
    align-items: stretch;
    color: white;
    font-size: 2rem; }
    .header__item--nav {
      width: 45%;
      flex-direction: row-reverse;
      justify-content: space-around;
      margin-left: auto;
      margin-right: 5vw; }
    .header__item--logo {
      margin-left: 10vw; }
  .header__nav-item {
    display: flex;
    cursor: pointer;
    transition: all .25s linear; }
  .header__nav-link {
    position: relative;
    overflow: hidden;
    align-self: center;
    padding: 1rem 2rem;
    border-radius: 100px;
    z-index: 0; }
    .header__nav-link::before {
      content: '';
      position: absolute;
      background: rgba(255, 255, 255, 0.35);
      border-radius: 100px;
      width: 100%;
      margin-left: -2rem;
      margin-top: -1rem;
      z-index: -1;
      height: 100%;
      transition: all .15s linear;
      transform: rotate(90deg);
      transform-origin: top right; }
    .header__nav-link:hover {
      color: rgba(0, 0, 0, 0.75); }
      .header__nav-link:hover::before {
        transform: rotate(0); }
  .header.sticky-header {
    position: fixed;
    z-index: 100;
    overflow: hidden;
    background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.99985));
    height: 8rem;
    width: 100%;
    box-shadow: 0 -2px 7px 1px rgba(0, 0, 0, 0.2);
    animation: slideDown .25s ease-out forwards;
    transition: none; }
    .header.sticky-header .header__item--nav {
      justify-content: flex-start;
      color: black; }
    .header.sticky-header .header__nav-item {
      box-shadow: -4px 0 5px -2px #e6e6e6;
      transition: all .15s linear; }
      .header.sticky-header .header__nav-item:hover {
        z-index: 200;
        color: white;
        background-image: linear-gradient(-115deg, rgba(21, 253, 98, 0.2), rgba(0, 0, 0, 0.1)); }
    .header.sticky-header .header__nav-link {
      transition: all .15s linear; }
      .header.sticky-header .header__nav-link::before {
        content: none; }

.footer {
  height: 20rem;
  background-color: black; }
  .footer__rights {
    text-align: center;
    line-height: 20rem;
    font-size: 3rem;
    font-family: 'Bellefair', serif; }

.container {
  display: grid;
  grid-template-rows: minmax(15rem, 100vh) auto; }

.fold {
  display: flex;
  position: relative;
  flex-direction: column;
  background-image: linear-gradient(60deg, rgba(41, 209, 97, 0.7), rgba(3, 82, 3, 0.603)), url("../img/fold-bg.jpg");
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .fold__heading {
    font-family: 'Secular One', sans-serif;
    font-size: 5rem;
    font-weight: 900;
    padding: .5rem 4rem;
    align-items: center; }
    .fold__heading > * {
      display: block;
      width: fit-content; }
    .fold__heading--up {
      margin: 0 auto;
      padding: 0 2rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.35);
      color: rgba(0, 0, 0, 0.7); }
    .fold__heading--bottom {
      color: rgba(255, 255, 255, 0.75); }
  .fold__scroll-to-main {
    position: absolute;
    display: block;
    border-radius: 100px;
    bottom: 2.5rem;
    animation: bounce 1.5s linear infinite forwards;
    margin-left: -3rem;
    left: 50%;
    height: 6rem;
    width: 6rem;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transition: all .15s linear; }
    .fold__scroll-to-main.gone {
      opacity: 0;
      visibility: hidden; }
    .fold__scroll-to-main:hover {
      animation-play-state: paused;
      border-color: rgba(0, 0, 0, 0.65); }
      .fold__scroll-to-main:hover::before, .fold__scroll-to-main:hover::after {
        background-color: rgba(0, 0, 0, 0.65); }
    .fold__scroll-to-main::after, .fold__scroll-to-main::before {
      content: '';
      background: rgba(255, 255, 255, 0.4);
      position: absolute;
      top: 50%;
      border-radius: 100px;
      transition: all .15s linear;
      height: 3px;
      width: 50%; }
    .fold__scroll-to-main::before {
      transform: translateX(-50%) rotate(45deg);
      left: 50%; }
    .fold__scroll-to-main::after {
      right: 50%;
      transform: translateX(50%) rotate(-45deg); }

.fold-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center; }

.section-about__text {
  font-size: 2.5rem;
  text-align: right;
  border-right: 3px solid rgba(0, 0, 0, 0.432);
  padding: 7px 3rem 7px 0; }

.section-three-blocks {
  height: 45rem;
  display: flex;
  overflow: hidden; }
  .section-three-blocks__block {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transform: translateX(-20%);
    opacity: 0; }
    .section-three-blocks__block.block-visible {
      box-shadow: -5px 0 3px -1px rgba(0, 0, 0, 0.35);
      animation: slide-left 1s ease-out forwards;
      animation-delay: 0s;
      animation: slide-left 1s ease-out forwards;
      animation-delay: 0.2s; }
    .section-three-blocks__block--1 {
      background-color: #48f782; }
    .section-three-blocks__block--2 {
      background-color: #2d9e53; }
    .section-three-blocks__block--3 {
      background-color: #116d30; }
  .section-three-blocks__text {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Varela Round', sans-serif;
    font-size: 3rem; }

.section-contact {
  display: grid;
  padding: 10rem 0;
  height: 50rem;
  background-color: #e6e6e6; }
