.header {
    display: flex;
    // align-content: center;
    height: 10rem;
    font-family: 'Rubik', sans-serif;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
    &__item {
        
        display: flex;
        align-items: center;
        color: white;
        font-size: 2rem;

        &--nav {
            display: flex;
            width: 45%;
            flex-direction: row-reverse;
            justify-content: space-around;
            margin-left: auto;
            margin-right: 10rem;
        }

        &--logo {
            margin-left: 10rem;
        }
    }

    &__nav-item {
        display: flex;
        // align-items: center;
        cursor: pointer;
        background-image: linear-gradient(110deg, transparent 50%, rgba(235, 235, 235, 0.336) 50%);
        background-position: 0 0;
        background-size: 220%;
        // border-radius:  5px 0 0 5px;
        // border: 1px solid black;
        padding: 3px 2.5rem;
        transition: all .25s linear;
        
        &:hover {
            background-position: 85% 40%;
            color: rgba(0, 0, 0, .75);
            // text-shadow: 1px 1px 0px rgb(236, 148, 156);
        }
    }

    &__nav-link {

    }

    &.sticky-header {
        position: fixed;
        background-image: linear-gradient(to bottom, white , rgba(255, 255, 255, .85));
        height: 8rem;
        width: 100%;
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, .3);
        animation: slideDown .25s ease-out forwards;
        // animation: turnOnBoxShadow .2s .35s ease-out forwards;
        
        .header__item--nav {
            color: black;
        }
        
        .header__nav-item {

            &:hover {
                background-position: 0;
                color: red;
            }
        }



    }

}









// .header {
//     height: 85vh;
//     background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.7), rgba($color-secondary, 0.33)), url(../img/hero.jpg);
//     background-size: cover;
//     background-position: bottom;
//     position: relative;
   
//     @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
//         clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
//         -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
//         height: 95vh;
//     }

//     @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
//            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
//            only screen and (min-width: 125em) {
//         background-image: linear-gradient(to right bottom,
//          rgba($color-primary-light, .1),      
//           rgba($color-tertiary, .33)),
//          url(../img/hero-small.jpg);

//          //for testing
//     }

//     @include respond(tab-port) {
        
//         clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
//         -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
//     }

//     &__logo-box {
//         position: absolute;
//         top:4rem;
//         left:4rem;

//         @include respond(phone) {
//             top: 3rem;
//             left: 2rem;
//         }
//     }

//     &__logo {
//         height:3.5rem;
//     }

//     &__h1-container {

//         text-align: center;
//         position: absolute;
//         top: 40%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         backface-visibility: hidden;



//     }

// }