$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #2e9b52;

$color-secondary: #ff6df3;
$color-secondary-light: #f0a1e942;
$color-secondary-dark: #70226a;



$color-tertiary: #32a86b;
$color-tertiary-light: #50eb9b;
$color-tertiary-dark: #217449;

$color-quaternary: #0e53ad;
$color-quaternary-light: #3879ce86;
$color-quaternary-dark: #073169;

$color-gray-light-1: #f7f7f7;
$color-gray-dark-1: #999;
$color-gray-dark-2: rgb(43, 43, 43);

$color-gray: #777;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal-big: 12rem;
$gutter-horizontal-medium: 9rem;
$gutter-horizontal-small: 6rem;


$border-1: 1px solid rgba(0, 0, 0, .3);